<% provide(:title, @auction.name) %>
<div class="center row">
  <%= image_tag 'https://s3-us-west-2.amazonaws.com/vsetauction/auction_items/images/images/vset_auction_2014.jpg' %>
  <h2>Fight the good fight and bid as if to win the prize!</h2>
<%= link_to "Enter auction", auction_items_path, class: "btn btn-large btn-primary" %>
</div>
<br/>
<div class="center hero-unit">
  <p>Total items posted: <%= @auction_items.count %></p>
  <!-- <p>Total # of bids: <%#= @bids.count %></p> -->
  <p>Total amount pledged: $<%= @total_pledged %></p>
  <p>Total with no bids $<%= @total_unpledged %></p>
  <p>Goal: $<%= @auction.auction_stat.funds_goal %></p>
  <p style="color:red;">USC pledged $<%= @total_USC %></p>
  <p style="color:blue;">UCLA pledged $<%= @total_UCLA %></p>
  <p style="color:green;">UCI pledged $<%= @total_UCI %></p>
  <p style="color:black;">OTHER pledged $<%= @total_OTHER %></p>
</div>
