<% if !auction_item.bids.first.nil? && auction_item.bids.last.user == @user %>
  <tr style="height:100px; overflow:hidden;">
<% else %>
  <tr class="error" style="height:100px; overflow:hidden;">
<% end %>
<td>
  <%= link_to image_tag(auction_item.image.url(:thumb)), auction_item, title: auction_item.name, data: {caption: auction_item.name}%>
  <p style="text-align: center;"><%= auction_item.name %></p>
</td>
<td>
  <%= link_to auction_item.user.name, auction_item.user %>
</td>
<td>
  <%= auction_item.bids.count %>
</td>
<td>
  $<%= auction_item.max_bid.nil? ? auction_item.min_bid : auction_item.max_bid %>
</td>
<td>
  <%= auction_item.bids.first.nil? ? "" : (link_to auction_item.bids.last.user.name, auction_item.bids.last.user) %>
</td>
<td>
  $<%= Bid.where(auction_item: auction_item, user: @user).last.amount %>
</td>
</tr>
