<% provide(:title, @user.name) %>

<h2>Total Pledged = $<%= @total_pledged %></h2>

<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h2>School: <%= @user_info.school %></h2>
    </section>
  </aside>
</div>
<div class="row">
  <h2><%= @user_name_header %> Posted Items</h2>
  <% if !@my_posted_items.nil? %>
  <%= will_paginate @my_posted_items %>
  
  <table class="table table-hover table-center">
    <thead>
      <tr>
        <td><h4><strong>Item</strong></h4></td>
        <td><h4><strong># of bids</strong></h4></td>
        <td><h4><strong>Current bid</strong></h4></td>
        <td><h4><strong>Bidder</strong></h4></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    <% @my_posted_items.each do |auction_item| %>
      <%= render 'my_posted_items', auction_item: auction_item %>
    <% end %>
    </tbody>
  </table>   
    
  <%= will_paginate @my_posted_items %>
  <% end %>
</div>
<div class="row">
  <h2><%= @user_name_header %> bids</h2>
  <% if !@following_items.nil? && !@following_items.empty? %>
  
  <table class="table table-hover table-center">
    <thead>
      <tr>
        <td><h4><strong>Item</strong></h4></td>
        <td><h4><strong>Offered by</strong></h4></td>
        <td><h4><strong># of bids</strong></h4></td>
        <td><h4><strong>Current bid</strong></h4></td>
        <td><h4><strong>Bidder</strong></h4></td>
        <td><h4><strong><%= @user_name_header %> bid</strong</h4></td>
      </tr>
    </thead>
    <tbody>
    <% @following_items.each do |auction_item| %>
      <% if !auction_item.nil? %>
        <%= render 'following_items', auction_item: auction_item %>
      <% end %>
    <% end %>
    </tbody>
  </table>   
    
  <% end %>
</div> 
