<div class="row"> 
  <div class="span6">     
    <%= form_for(@bid) do |f| %>
      <%= render 'shared/bid_error_messages' %>
 
      <%= f.hidden_field :auction_item_id, value: @auction_item.id %>
 
      <%= f.label :amount %>
      <div class="input-prepend">
        <span class="add-on">$</span>
      <%= f.text_field :amount %>
      </div>

      <%= fields_for(@comment) do |c| %>

      <br/>
      <%= c.label :content, 'Comment:' %>
      <%= c.text_area :content %>

      <% end %>

      <%= f.submit "Submit bid", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
