<div class="row box">
<div class="panel panel-default">
  <% #cache(auction_item) do %>
    <%= link_to image_tag(auction_item.image.url(:square), class: "img-responsive center-block"), auction_item, title: auction_item.name, data: {caption: auction_item.name}%>
    <h4 class="text-center"><strong><%= link_to auction_item.name, auction_item, class: "auction-item-title" %></strong></h4>
    <h4 class="text-center"><small>By <%= link_to auction_item.user.name, auction_item.user %></small></h4>
    <h5><strong># Bids: </strong><%= auction_item.bids.count %></h5>
    <h5><strong>Leader: </strong><%= auction_item.bids.first.nil? ? "" : (link_to auction_item.bids.last.user.name, auction_item.bids.last.user) %></h5>
    <h5><strong>Bid: </strong>$<%= auction_item.max_bid.nil? ? auction_item.min_bid : auction_item.max_bid %></h5>
  <% #end %>
  <% if current_user == auction_item.user || current_user.admin? %>
    <%= link_to "edit", edit_auction_item_path(auction_item) %>
  <% end %>
  <% if current_user.admin? %>
    | <%= link_to "delete", auction_item, method: :delete,
                            data: { confirm: "You sure?" } %>
  <% end %>
</div>
</div>
