<div class="row">
<div class="box panel panel-default">
  <% cache(auction_item) do %>
    <div class="hidden-xs">
    <%= link_to image_tag(auction_item.image.url(:square), class: "img-responsive center-block"), auction_item, title: auction_item.name, data: {caption: auction_item.name}%>
    </div>
    <div class="visible-xs">
    <%= link_to image_tag(auction_item.image.url(:thumb), class: "img-responsive center-block"), auction_item, title: auction_item.name, data: {caption: auction_item.name}%>
    </div>
    <h4 class="text-center nowrap"><strong><%= link_to auction_item.name, auction_item, class: "auction-item-title" %></strong></h4>
    <h4 class="text-center"><small>By <%= link_to auction_item.user.name, auction_item.user %></small></h4>
    <% if auction_item.max_bid.nil? %>
      <h4><strong>Starting Bid: </strong>$<%= auction_item.min_bid %></h4>
    <% else %>
      <h4><strong>Current Bid: </strong>$<%= auction_item.max_bid %></h4>
    <% end %>
    <% bids = auction_item.bids.order('amount ASC') %>
    <% current_winner = bids.last.user %>
    <h5><strong># Bids: </strong><%= bids.count %></h5>
    <h5><strong>Leader: </strong><%= bids.first.nil? ? "" : (link_to current_winner.name, current_winner) %></h5>
  <% end %>
</div>
</div>
