<% provide(:title, 'Auction Items') %>
<h1>Auction Items (<%= @category_name %>)</h1>

<% cache("category_menu") do %>
<div class="span2">
  <%= render 'shared/category_menu' %>
</div>
<% end %>

<% if @auction_items.nil? %>
  <% get_all_auction_items %>
<% end %>
<div class="span9">
  <%= will_paginate %>
  
  <table class="table table-hover table-center">
    <thead>
      <tr>
        <td><h4><strong>Item</strong></h4></td>
        <td><h4><strong>Offered by</strong></h4></td>
        <td><h4><strong># of bids</strong></h4></td>
        <td><h4><strong>Current bid</strong></h4></td>
        <td><h4><strong>Bidder</strong></h4></td>
        <td></td>
      </tr>
    </thead>
    <tbody>
    <% if !@auction_items.nil? %>
      <% @auction_items.each do |auction_item| %>
        <% #cache(auction_item) do %>
          <%= render 'auction_item', auction_item: auction_item %>
        <% #end %>
      <% end %>
    <% end %>
    </tbody>
  </table>
 
  <%= will_paginate %>
</div>
