<% provide(:title, 'Create Auction Item') %>
<h1>Create Auction Item</h1>
 
<div class="row">
  <div class="span6 offset3">
    <%= form_for(@auction_item) do |f| %>
      <%= render 'shared/auction_item_error_messages' %>
  
      <%= f.label :name, 'Name of Item:' %>
      <%= f.text_field :name %>
    
      <%= f.label :description %>
      <%= f.text_area :description %>

      <%= f.label :image %>
      <%= f.file_field :image %>

      <%= f.select(:category, [ ['Please Select', nil], ['Books', AuctionItem::BOOK],
	['Clothing', AuctionItem::CLOTHING], ['Food', AuctionItem::FOOD],
	['Music', AuctionItem::MUSIC], ['Services', AuctionItem::SERVICE],
        ['Technology', AuctionItem::TECHNOLOGY], ['Other', AuctionItem::OTHER] ]) %>

      <%= f.label :min_bid , 'Minimum bid:' %>
      <%= f.text_field :min_bid %>

      <%= f.label :min_incr, 'Minimum increment value:' %>
      <%= f.text_field :min_incr %>
    
      <%= f.submit "Create auction item", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
