<% provide(:title, @auction_item.name) %>

<%= image_tag @auction_item.image.url(:medium) %>

<% if DateTime.now.to_date < current_auction.end_time %>
  <%= render 'create_form' %>
<% else %>
  <%= render 'stats' %>
<% end %>

<p><%= DateTime.now.to_date.to_s %></p>
<p><%= Time.now.to_date.to_s %></p>
<p><%= current_auction.end_time %></p>

<%= render 'comments' %>
