<% provide(:title, @auction_item.name) %>

<div class="container">
  <div class="row">
    <h1><%= @auction_item.name %></h1>
  </div>
  <div class="row">
    <div class="span4">
      <%= image_tag @auction_item.image.url(:medium) %>
    </div>
    <div class="span8">
      <p><%= @auction_item.description %></p>
    </div>
  </div>
  <br/>
  <div class="row">
    <p>Posted by: <%= link_to @auction_item.user.name, @auction_item.user %></p>
    <p>Starting bid: $<%= @auction_item.min_bid %></p>
    <p>Minimum increment: $<%= @auction_item.min_incr %></p>
    <% if @max_bid.nil? %>
      <p>No bids yet</p>
    <% else %>
      <p>Bid to beat: $<%= @max_bid.amount %> by <%= link_to @max_bid.user.name, @max_bid.user %></p>
    <% end %>
  </div>
  <div class="row">
    <% if DateTime.now.to_date < current_auction.end_time %>
      <%= render 'shared/create_bid_form' %>
    <% else %>
      <%= render 'stats' %>
    <% end %>
  </div>

  <%= render 'shared/comments' %>
</div>
